
<div class="container">
  <div class="nav">
    <div class="nav-title">
      <div class="header"><img src="assets/cloud-sun-fill.svg">Weather Now</div>
    </div>
    <div class="nav-items">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="">Contact</a></li>
      </ul>
    </div>
  </div>
<!--Main body-->
  <div class="body">
    <div class="search">
      <div class="text">Search cities here</div>
      <div class="search-bar">
        <input type="text" placeholder="cities">
        <button type="submit">Search</button>
      </div>
    </div>
    <!--Display Boxes-->
    <div class="display-screen">
      <div class="cold" id="cold">
        <div class="upper">
            <img src="assets/summer.jpg"alt="Oops!" *ngIf="14<15">
          <div class="data">
            <div class="temperature">23<sup>&deg;</sup>C</div>
            <div class="location"> <h4>Toronto, Canada</h4></div>
          </div>
        </div>
        <div class="lower">
          <div class="more-info-label">
            Features
          </div>
          <div class="info-container">
            <div class="info-block">
              <div class="info-block-label">
                <img src="assets/thermometer-low.svg" alt="">
                <span>Low as</span>
              </div>
              <div class="info-block-value">
                18<sup>&deg;</sup>C
              </div>
              </div>
              <div class="info-block">
                <div class="info-block-label">
                  <img src="assets/thermometer-sun.svg" alt="">
                  <span>High as</span>
                </div>
                <div class="info-block-value">
                  29<sup>&deg;</sup>C
                </div>
              </div>
              <div class="info-block">
                <div class="info-block-label">
                  <img src="assets/moisture.svg" alt="">
                  <span>Humidity</span>
                </div>
                <div class="info-block-value">
                 81%
                </div>
              </div>
              <div class="info-block">
                <div class="info-block-label">
                  <img src="assets/wind.svg" alt="">
                  <span>Wind speed</span>
                </div>
                <div class="info-block-value">
                8 km/r
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
